// config
@import "variables";
//layout
@import "reboot";
//mixin
@import "mixin2";
// animation
// @import "animation";
// button
@import "../components/Button/style";
// menu
@import "../components/Menu/style";
// // icon
// @import "../components/Icon/style";
// //input
// @import "../components/Input/style";
// //auto-complete
// @import "../components/AutoComplete/style";
// //upload
// @import "../components/Upload/style";
// //progress
// @import "../components/Progress/style";
.App {
    padding: 2rem;
    width: 100vw;
    height: 100vh;
}

.buttons {
    padding: 12px;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}